body{background: rgb(156,217,107); height: 600px; margin: 0; padding: 0;} 

/*Структура сайта*/
div.mid{width: 1000px; margin: 0 auto;}
div.header{background-color: rgb(144,178,71);}

/*Шапка сайта*/
div.topmenu{float: right;}
body {
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;}

/* имя цвета */
h1 {
    color: DarkCyan;  opacity: 0.5;}

h2 {
    color: #ee3e80;}
h3 {
    color: rgb(191,84,46);}
h4 {
    color: rgb(240,239,136);}
p {
    color: rgb(100,100,90);}
	
footer { 
  background: url(images/grass.png) 50% 53px no-repeat; 
  margin-top: -77px; 
  overflow: auto; 
  position: relative; 
}
.lion {
  position: absolute;
  left: 50%; 
  margin-left: -347px; 
  top: 3px; 
}
.footer-bg { 
  background: #e2ed9c; 
  margin-top: 80px; 
}
.copyright {
  width: 740px; 
  padding: 0 5px 10px;
  margin: auto;
  color: #526118;
}
.copyright p {
  margin: 0 0 5px 170px;  
}
	
